openapi: 3.0.4
info:
  title: Microsoft Graph — SharePoint OneNote
  description: SharePoint subset of the Microsoft Graph v1.0 OpenAPI specification (generated from graphexplorer.yaml).
  version: v1.0
  x-ms-generated-by:
    toolName: Microsoft.OpenApi.OData
    toolVersion: 0.0.0.0
servers:
- url: https://graph.microsoft.com/v1.0
security:
- azureOAuth2:
  - Notes.Read.All
  - Notes.ReadWrite.All
tags:
- name: sites.onenote
  x-ms-docs-toc-type: page
paths:
  /sites/{site-id}/onenote:
    description: Provides operations to manage the onenote property of the microsoft.graph.site entity.
    get:
      tags:
      - sites.onenote
      summary: Get onenote from sites
      description: Calls the OneNote service for notebook related operations.
      operationId: sites.GetOnenote
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - notebooks
            - operations
            - pages
            - resources
            - sectionGroups
            - sections
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - notebooks
            - operations
            - pages
            - resources
            - sectionGroups
            - sections
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenote'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.onenote
      summary: Update the navigation property onenote in sites
      operationId: sites.UpdateOnenote
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenote'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.onenote
      summary: Delete navigation property onenote for sites
      operationId: sites.DeleteOnenote
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/microsoft.graph.getByPath(path='{path}')/onenote
  /sites/{site-id}/onenote/notebooks:
    description: Provides operations to manage the notebooks property of the microsoft.graph.onenote entity.
    get:
      tags:
      - sites.onenote
      summary: Get notebooks from sites
      description: The collection of OneNote notebooks that are owned by the user or group. Read-only. Nullable.
      operationId: sites.onenote.ListNotebooks
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - id desc
            - self
            - self desc
            - createdDateTime
            - createdDateTime desc
            - createdBy
            - createdBy desc
            - displayName
            - displayName desc
            - lastModifiedBy
            - lastModifiedBy desc
            - lastModifiedDateTime
            - lastModifiedDateTime desc
            - isDefault
            - isDefault desc
            - isShared
            - isShared desc
            - links
            - links desc
            - sectionGroupsUrl
            - sectionGroupsUrl desc
            - sectionsUrl
            - sectionsUrl desc
            - userRole
            - userRole desc
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - self
            - createdDateTime
            - createdBy
            - displayName
            - lastModifiedBy
            - lastModifiedDateTime
            - isDefault
            - isShared
            - links
            - sectionGroupsUrl
            - sectionsUrl
            - userRole
            - sectionGroups
            - sections
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - sectionGroups
            - sections
            type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.notebookCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - sites.onenote
      summary: Create new navigation property to notebooks for sites
      operationId: sites.onenote.CreateNotebooks
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notebook'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/onenote/notebooks/{notebook-id}:
    description: Provides operations to manage the notebooks property of the microsoft.graph.onenote entity.
    get:
      tags:
      - sites.onenote
      summary: Get notebooks from sites
      description: The collection of OneNote notebooks that are owned by the user or group. Read-only. Nullable.
      operationId: sites.onenote.GetNotebooks
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - self
            - createdDateTime
            - createdBy
            - displayName
            - lastModifiedBy
            - lastModifiedDateTime
            - isDefault
            - isShared
            - links
            - sectionGroupsUrl
            - sectionsUrl
            - userRole
            - sectionGroups
            - sections
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - sectionGroups
            - sections
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.onenote
      summary: Update the navigation property notebooks in sites
      operationId: sites.onenote.UpdateNotebooks
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notebook'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.onenote
      summary: Delete navigation property notebooks for sites
      operationId: sites.onenote.DeleteNotebooks
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/onenote/notebooks/{notebook-id}/microsoft.graph.copyNotebook:
    description: Provides operations to call the copyNotebook method.
    post:
      tags:
      - sites.onenote
      summary: Invoke action copyNotebook
      description: 'For Copy operations, you follow an asynchronous calling pattern:  First call the Copy action, and then poll the operation endpoint for the result.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/notebook-copynotebook?view=graph-rest-1.0
      operationId: sites.site.onenote.notebooks.notebook.copyNotebook
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupId:
                  type: string
                  nullable: true
                renameAs:
                  type: string
                  nullable: true
                notebookFolder:
                  type: string
                  nullable: true
                siteCollectionId:
                  type: string
                  nullable: true
                siteId:
                  type: string
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.onenoteOperation'
                - type: object
                  nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups:
    description: Provides operations to manage the sectionGroups property of the microsoft.graph.notebook entity.
    get:
      tags:
      - sites.onenote
      summary: Get sectionGroups from sites
      description: The section groups in the notebook. Read-only. Nullable.
      operationId: sites.onenote.notebooks.ListSectionGroups
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - id desc
            - self
            - self desc
            - createdDateTime
            - createdDateTime desc
            - createdBy
            - createdBy desc
            - displayName
            - displayName desc
            - lastModifiedBy
            - lastModifiedBy desc
            - lastModifiedDateTime
            - lastModifiedDateTime desc
            - sectionGroupsUrl
            - sectionGroupsUrl desc
            - sectionsUrl
            - sectionsUrl desc
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - self
            - createdDateTime
            - createdBy
            - displayName
            - lastModifiedBy
            - lastModifiedDateTime
            - sectionGroupsUrl
            - sectionsUrl
            - parentNotebook
            - parentSectionGroup
            - sectionGroups
            - sections
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - parentNotebook
            - parentSectionGroup
            - sectionGroups
            - sections
            type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.sectionGroupCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - sites.onenote
      summary: Create new navigation property to sectionGroups for sites
      operationId: sites.onenote.notebooks.CreateSectionGroups
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}:
    description: Provides operations to manage the sectionGroups property of the microsoft.graph.notebook entity.
    get:
      tags:
      - sites.onenote
      summary: Get sectionGroups from sites
      description: The section groups in the notebook. Read-only. Nullable.
      operationId: sites.onenote.notebooks.GetSectionGroups
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - self
            - createdDateTime
            - createdBy
            - displayName
            - lastModifiedBy
            - lastModifiedDateTime
            - sectionGroupsUrl
            - sectionsUrl
            - parentNotebook
            - parentSectionGroup
            - sectionGroups
            - sections
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - parentNotebook
            - parentSectionGroup
            - sectionGroups
            - sections
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.onenote
      summary: Update the navigation property sectionGroups in sites
      operationId: sites.onenote.notebooks.UpdateSectionGroups
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.onenote
      summary: Delete navigation property sectionGroups for sites
      operationId: sites.onenote.notebooks.DeleteSectionGroups
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/parentNotebook:
    description: Provides operations to manage the parentNotebook property of the microsoft.graph.sectionGroup entity.
    get:
      tags:
      - sites.onenote
      summary: Get parentNotebook from sites
      description: The notebook that contains the section group. Read-only.
      operationId: sites.onenote.notebooks.sectionGroups.GetParentNotebook
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - self
            - createdDateTime
            - createdBy
            - displayName
            - lastModifiedBy
            - lastModifiedDateTime
            - isDefault
            - isShared
            - links
            - sectionGroupsUrl
            - sectionsUrl
            - userRole
            - sectionGroups
            - sections
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - sectionGroups
            - sections
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/onenote/sectionGroups/{sectionGroup-id}/parentNotebook
  /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/parentSectionGroup:
    description: Provides operations to manage the parentSectionGroup property of the microsoft.graph.sectionGroup entity.
    get:
      tags:
      - sites.onenote
      summary: Get parentSectionGroup from sites
      description: The section group that contains the section group. Read-only.
      operationId: sites.onenote.notebooks.sectionGroups.GetParentSectionGroup
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - self
            - createdDateTime
            - createdBy
            - displayName
            - lastModifiedBy
            - lastModifiedDateTime
            - sectionGroupsUrl
            - sectionsUrl
            - parentNotebook
            - parentSectionGroup
            - sectionGroups
            - sections
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - parentNotebook
            - parentSectionGroup
            - sectionGroups
            - sections
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/onenote/sectionGroups/{sectionGroup-id}/parentSectionGroup
  /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sectionGroups:
    description: Provides operations to manage the sectionGroups property of the microsoft.graph.sectionGroup entity.
    get:
      tags:
      - sites.onenote
      summary: Get sectionGroups from sites
      description: The section groups in the section. Read-only. Nullable.
      operationId: sites.onenote.notebooks.sectionGroups.ListSectionGroups
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - id desc
            - self
            - self desc
            - createdDateTime
            - createdDateTime desc
            - createdBy
            - createdBy desc
            - displayName
            - displayName desc
            - lastModifiedBy
            - lastModifiedBy desc
            - lastModifiedDateTime
            - lastModifiedDateTime desc
            - sectionGroupsUrl
            - sectionGroupsUrl desc
            - sectionsUrl
            - sectionsUrl desc
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - self
            - createdDateTime
            - createdBy
            - displayName
            - lastModifiedBy
            - lastModifiedDateTime
            - sectionGroupsUrl
            - sectionsUrl
            - parentNotebook
            - parentSectionGroup
            - sectionGroups
            - sections
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - parentNotebook
            - parentSectionGroup
            - sectionGroups
            - sections
            type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.sectionGroupCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/onenote/sectionGroups/{sectionGroup-id}/sectionGroups
  /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sectionGroups/{sectionGroup-id1}:
    description: Provides operations to manage the sectionGroups property of the microsoft.graph.sectionGroup entity.
    get:
      tags:
      - sites.onenote
      summary: Get sectionGroups from sites
      description: The section groups in the section. Read-only. Nullable.
      operationId: sites.onenote.notebooks.sectionGroups.GetSectionGroups
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: sectionGroup-id1
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - self
            - createdDateTime
            - createdBy
            - displayName
            - lastModifiedBy
            - lastModifiedDateTime
            - sectionGroupsUrl
            - sectionsUrl
            - parentNotebook
            - parentSectionGroup
            - sectionGroups
            - sections
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - parentNotebook
            - parentSectionGroup
            - sectionGroups
            - sections
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/onenote/sectionGroups/{sectionGroup-id}/sectionGroups/{sectionGroup-id1}
  /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sectionGroups/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - sites.onenote
      summary: Get the number of the resource
      operationId: sites.onenote.notebooks.sectionGroups.sectionGroups.GetCount-52f9
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        '200':
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections:
    description: Provides operations to manage the sections property of the microsoft.graph.sectionGroup entity.
    get:
      tags:
      - sites.onenote
      summary: Get sections from sites
      description: The sections in the section group. Read-only. Nullable.
      operationId: sites.onenote.notebooks.sectionGroups.ListSections
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - id desc
            - self
            - self desc
            - createdDateTime
            - createdDateTime desc
            - createdBy
            - createdBy desc
            - displayName
            - displayName desc
            - lastModifiedBy
            - lastModifiedBy desc
            - lastModifiedDateTime
            - lastModifiedDateTime desc
            - isDefault
            - isDefault desc
            - links
            - links desc
            - pagesUrl
            - pagesUrl desc
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - self
            - createdDateTime
            - createdBy
            - displayName
            - lastModifiedBy
            - lastModifiedDateTime
            - isDefault
            - links
            - pagesUrl
            - pages
            - parentNotebook
            - parentSectionGroup
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - pages
            - parentNotebook
            - parentSectionGroup
            type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.onenoteSectionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - sites.onenote
      summary: Create new navigation property to sections for sites
      operationId: sites.onenote.notebooks.sectionGroups.CreateSections
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/onenote/sectionGroups/{sectionGroup-id}/sections
  /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}:
    description: Provides operations to manage the sections property of the microsoft.graph.sectionGroup entity.
    get:
      tags:
      - sites.onenote
      summary: Get sections from sites
      description: The sections in the section group. Read-only. Nullable.
      operationId: sites.onenote.notebooks.sectionGroups.GetSections
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - self
            - createdDateTime
            - createdBy
            - displayName
            - lastModifiedBy
            - lastModifiedDateTime
            - isDefault
            - links
            - pagesUrl
            - pages
            - parentNotebook
            - parentSectionGroup
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - pages
            - parentNotebook
            - parentSectionGroup
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.onenote
      summary: Update the navigation property sections in sites
      operationId: sites.onenote.notebooks.sectionGroups.UpdateSections
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.onenote
      summary: Delete navigation property sections for sites
      operationId: sites.onenote.notebooks.sectionGroups.DeleteSections
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}
  ? /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/microsoft.graph.copyToNotebook
  : description: Provides operations to call the copyToNotebook method.
    post:
      tags:
      - sites.onenote
      summary: Invoke action copyToNotebook
      description: 'For Copy operations, you follow an asynchronous calling pattern:  First call the Copy action, and then poll the operation endpoint for the result.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/section-copytonotebook?view=graph-rest-1.0
      operationId: sites.site.onenote.notebooks.notebook.sectionGroups.sectionGroup.sections.onenoteSection.copyToNotebook
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  nullable: true
                groupId:
                  type: string
                  nullable: true
                renameAs:
                  type: string
                  nullable: true
                siteCollectionId:
                  type: string
                  nullable: true
                siteId:
                  type: string
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.onenoteOperation'
                - type: object
                  nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    x-ms-docs-grouped-path:
    - /sites/{site-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/microsoft.graph.copyToNotebook
    - /sites/{site-id}/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/microsoft.graph.copyToNotebook
    - /sites/{site-id}/onenote/sections/{onenoteSection-id}/microsoft.graph.copyToNotebook
  ? /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/microsoft.graph.copyToSectionGroup
  : description: Provides operations to call the copyToSectionGroup method.
    post:
      tags:
      - sites.onenote
      summary: Invoke action copyToSectionGroup
      description: 'For Copy operations, you follow an asynchronous calling pattern:  First call the Copy action, and then poll the operation endpoint for the result.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/section-copytosectiongroup?view=graph-rest-1.0
      operationId: sites.site.onenote.notebooks.notebook.sectionGroups.sectionGroup.sections.onenoteSection.copyToSectionGroup
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  nullable: true
                groupId:
                  type: string
                  nullable: true
                renameAs:
                  type: string
                  nullable: true
                siteCollectionId:
                  type: string
                  nullable: true
                siteId:
                  type: string
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.onenoteOperation'
                - type: object
                  nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    x-ms-docs-grouped-path:
    - /sites/{site-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/microsoft.graph.copyToSectionGroup
    - /sites/{site-id}/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/microsoft.graph.copyToSectionGroup
    - /sites/{site-id}/onenote/sections/{onenoteSection-id}/microsoft.graph.copyToSectionGroup
  /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages:
    description: Provides operations to manage the pages property of the microsoft.graph.onenoteSection entity.
    get:
      tags:
      - sites.onenote
      summary: Get pages from sites
      description: The collection of pages in the section.  Read-only. Nullable.
      operationId: sites.onenote.notebooks.sectionGroups.sections.ListPages
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - id desc
            - self
            - self desc
            - createdDateTime
            - createdDateTime desc
            - content
            - content desc
            - contentUrl
            - contentUrl desc
            - createdByAppId
            - createdByAppId desc
            - lastModifiedDateTime
            - lastModifiedDateTime desc
            - level
            - level desc
            - links
            - links desc
            - order
            - order desc
            - title
            - title desc
            - userTags
            - userTags desc
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - self
            - createdDateTime
            - content
            - contentUrl
            - createdByAppId
            - lastModifiedDateTime
            - level
            - links
            - order
            - title
            - userTags
            - parentNotebook
            - parentSection
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - parentNotebook
            - parentSection
            type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.onenotePageCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - sites.onenote
      summary: Create new navigation property to pages for sites
      operationId: sites.onenote.notebooks.sectionGroups.sections.CreatePages
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenotePage'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages
    - /sites/{site-id}/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages
    - /sites/{site-id}/onenote/sections/{onenoteSection-id}/pages
  ? /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}
  : description: Provides operations to manage the pages property of the microsoft.graph.onenoteSection entity.
    get:
      tags:
      - sites.onenote
      summary: Get pages from sites
      description: The collection of pages in the section.  Read-only. Nullable.
      operationId: sites.onenote.notebooks.sectionGroups.sections.GetPages
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      - name: onenotePage-id
        in: path
        description: The unique identifier of onenotePage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenotePage
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - self
            - createdDateTime
            - content
            - contentUrl
            - createdByAppId
            - lastModifiedDateTime
            - level
            - links
            - order
            - title
            - userTags
            - parentNotebook
            - parentSection
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - parentNotebook
            - parentSection
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.onenote
      summary: Update the navigation property pages in sites
      operationId: sites.onenote.notebooks.sectionGroups.sections.UpdatePages
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      - name: onenotePage-id
        in: path
        description: The unique identifier of onenotePage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenotePage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenotePage'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.onenote
      summary: Delete navigation property pages for sites
      operationId: sites.onenote.notebooks.sectionGroups.sections.DeletePages
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      - name: onenotePage-id
        in: path
        description: The unique identifier of onenotePage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenotePage
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}
    - /sites/{site-id}/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}
    - /sites/{site-id}/onenote/sections/{onenoteSection-id}/pages/{onenotePage-id}
  ? /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/content
  : description: Provides operations to manage the media for the site entity.
    get:
      tags:
      - sites.onenote
      summary: Get content for the navigation property pages from sites
      description: The page's HTML content.
      operationId: sites.onenote.notebooks.sectionGroups.sections.GetPagesContent
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      - name: onenotePage-id
        in: path
        description: The unique identifier of onenotePage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenotePage
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - sites.onenote
      summary: Update content for the navigation property pages in sites
      description: The page's HTML content.
      operationId: sites.onenote.notebooks.sectionGroups.sections.UpdatePagesContent
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      - name: onenotePage-id
        in: path
        description: The unique identifier of onenotePage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenotePage
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
  ? /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/microsoft.graph.copyToSection
  : description: Provides operations to call the copyToSection method.
    post:
      tags:
      - sites.onenote
      summary: Invoke action copyToSection
      description: 'Copy a page to a specific section. For copy operations, you follow an asynchronous calling pattern:  First call the Copy action, and then poll the operation endpoint for the result.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/page-copytosection?view=graph-rest-1.0
      operationId: sites.site.onenote.notebooks.notebook.sectionGroups.sectionGroup.sections.onenoteSection.pages.onenotePage.copyToSection
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      - name: onenotePage-id
        in: path
        description: The unique identifier of onenotePage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenotePage
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  nullable: true
                groupId:
                  type: string
                  nullable: true
                siteCollectionId:
                  type: string
                  nullable: true
                siteId:
                  type: string
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.onenoteOperation'
                - type: object
                  nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    x-ms-docs-grouped-path:
    - /sites/{site-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/microsoft.graph.copyToSection
    - /sites/{site-id}/onenote/pages/{onenotePage-id}/microsoft.graph.copyToSection
    - /sites/{site-id}/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/microsoft.graph.copyToSection
    - /sites/{site-id}/onenote/sections/{onenoteSection-id}/pages/{onenotePage-id}/microsoft.graph.copyToSection
  ? /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/microsoft.graph.onenotePatchContent
  : description: Provides operations to call the onenotePatchContent method.
    post:
      tags:
      - sites.onenote
      summary: Invoke action onenotePatchContent
      operationId: sites.site.onenote.notebooks.notebook.sectionGroups.sectionGroup.sections.onenoteSection.pages.onenotePage.onenotePatchContent
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      - name: onenotePage-id
        in: path
        description: The unique identifier of onenotePage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenotePage
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                commands:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.onenotePatchContentCommand'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    x-ms-docs-grouped-path:
    - /sites/{site-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/microsoft.graph.onenotePatchContent
    - /sites/{site-id}/onenote/pages/{onenotePage-id}/microsoft.graph.onenotePatchContent
    - /sites/{site-id}/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/microsoft.graph.onenotePatchContent
    - /sites/{site-id}/onenote/sections/{onenoteSection-id}/pages/{onenotePage-id}/microsoft.graph.onenotePatchContent
  ? /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/microsoft.graph.preview()
  : description: Provides operations to call the preview method.
    get:
      tags:
      - sites.onenote
      summary: Invoke function preview
      operationId: sites.site.onenote.notebooks.notebook.sectionGroups.sectionGroup.sections.onenoteSection.pages.onenotePage.preview
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      - name: onenotePage-id
        in: path
        description: The unique identifier of onenotePage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenotePage
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.onenotePagePreview'
                - type: object
                  nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
    x-ms-docs-grouped-path:
    - /sites/{site-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/microsoft.graph.preview()
    - /sites/{site-id}/onenote/pages/{onenotePage-id}/microsoft.graph.preview()
    - /sites/{site-id}/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/microsoft.graph.preview()
    - /sites/{site-id}/onenote/sections/{onenoteSection-id}/pages/{onenotePage-id}/microsoft.graph.preview()
  ? /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentNotebook
  : description: Provides operations to manage the parentNotebook property of the microsoft.graph.onenotePage entity.
    get:
      tags:
      - sites.onenote
      summary: Get parentNotebook from sites
      description: The notebook that contains the page.  Read-only.
      operationId: sites.onenote.notebooks.sectionGroups.sections.pages.GetParentNotebook
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      - name: onenotePage-id
        in: path
        description: The unique identifier of onenotePage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenotePage
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - self
            - createdDateTime
            - createdBy
            - displayName
            - lastModifiedBy
            - lastModifiedDateTime
            - isDefault
            - isShared
            - links
            - sectionGroupsUrl
            - sectionsUrl
            - userRole
            - sectionGroups
            - sections
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - sectionGroups
            - sections
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentNotebook
    - /sites/{site-id}/onenote/pages/{onenotePage-id}/parentNotebook
    - /sites/{site-id}/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentNotebook
    - /sites/{site-id}/onenote/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentNotebook
  ? /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentSection
  : description: Provides operations to manage the parentSection property of the microsoft.graph.onenotePage entity.
    get:
      tags:
      - sites.onenote
      summary: Get parentSection from sites
      description: The section that contains the page. Read-only.
      operationId: sites.onenote.notebooks.sectionGroups.sections.pages.GetParentSection
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      - name: onenotePage-id
        in: path
        description: The unique identifier of onenotePage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenotePage
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - self
            - createdDateTime
            - createdBy
            - displayName
            - lastModifiedBy
            - lastModifiedDateTime
            - isDefault
            - links
            - pagesUrl
            - pages
            - parentNotebook
            - parentSectionGroup
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - pages
            - parentNotebook
            - parentSectionGroup
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentSection
    - /sites/{site-id}/onenote/pages/{onenotePage-id}/parentSection
    - /sites/{site-id}/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentSection
    - /sites/{site-id}/onenote/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentSection
  /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - sites.onenote
      summary: Get the number of the resource
      operationId: sites.onenote.notebooks.sectionGroups.sections.pages.GetCount-56bb
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        '200':
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/parentNotebook:
    description: Provides operations to manage the parentNotebook property of the microsoft.graph.onenoteSection entity.
    get:
      tags:
      - sites.onenote
      summary: Get parentNotebook from sites
      description: The notebook that contains the section.  Read-only.
      operationId: sites.onenote.notebooks.sectionGroups.sections.GetParentNotebook
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - self
            - createdDateTime
            - createdBy
            - displayName
            - lastModifiedBy
            - lastModifiedDateTime
            - isDefault
            - isShared
            - links
            - sectionGroupsUrl
            - sectionsUrl
            - userRole
            - sectionGroups
            - sections
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - sectionGroups
            - sections
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/parentNotebook
    - /sites/{site-id}/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/parentNotebook
    - /sites/{site-id}/onenote/sections/{onenoteSection-id}/parentNotebook
  /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/parentSectionGroup:
    description: Provides operations to manage the parentSectionGroup property of the microsoft.graph.onenoteSection entity.
    get:
      tags:
      - sites.onenote
      summary: Get parentSectionGroup from sites
      description: The section group that contains the section.  Read-only.
      operationId: sites.onenote.notebooks.sectionGroups.sections.GetParentSectionGroup
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - self
            - createdDateTime
            - createdBy
            - displayName
            - lastModifiedBy
            - lastModifiedDateTime
            - sectionGroupsUrl
            - sectionsUrl
            - parentNotebook
            - parentSectionGroup
            - sectionGroups
            - sections
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - parentNotebook
            - parentSectionGroup
            - sectionGroups
            - sections
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/parentSectionGroup
    - /sites/{site-id}/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/parentSectionGroup
    - /sites/{site-id}/onenote/sections/{onenoteSection-id}/parentSectionGroup
  /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - sites.onenote
      summary: Get the number of the resource
      operationId: sites.onenote.notebooks.sectionGroups.sections.GetCount-26e6
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: sectionGroup-id
        in: path
        description: The unique identifier of sectionGroup
        required: true
        schema:
          type: string
        x-ms-docs-key-type: sectionGroup
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        '200':
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /sites/{site-id}/onenote/notebooks/{notebook-id}/sectionGroups/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - sites.onenote
      summary: Get the number of the resource
      operationId: sites.onenote.notebooks.sectionGroups.GetCount-52f9
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        '200':
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /sites/{site-id}/onenote/notebooks/{notebook-id}/sections:
    description: Provides operations to manage the sections property of the microsoft.graph.notebook entity.
    get:
      tags:
      - sites.onenote
      summary: Get sections from sites
      description: The sections in the notebook. Read-only. Nullable.
      operationId: sites.onenote.notebooks.ListSections
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - id desc
            - self
            - self desc
            - createdDateTime
            - createdDateTime desc
            - createdBy
            - createdBy desc
            - displayName
            - displayName desc
            - lastModifiedBy
            - lastModifiedBy desc
            - lastModifiedDateTime
            - lastModifiedDateTime desc
            - isDefault
            - isDefault desc
            - links
            - links desc
            - pagesUrl
            - pagesUrl desc
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - self
            - createdDateTime
            - createdBy
            - displayName
            - lastModifiedBy
            - lastModifiedDateTime
            - isDefault
            - links
            - pagesUrl
            - pages
            - parentNotebook
            - parentSectionGroup
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - pages
            - parentNotebook
            - parentSectionGroup
            type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.onenoteSectionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - sites.onenote
      summary: Create new navigation property to sections for sites
      operationId: sites.onenote.notebooks.CreateSections
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}:
    description: Provides operations to manage the sections property of the microsoft.graph.notebook entity.
    get:
      tags:
      - sites.onenote
      summary: Get sections from sites
      description: The sections in the notebook. Read-only. Nullable.
      operationId: sites.onenote.notebooks.GetSections
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - self
            - createdDateTime
            - createdBy
            - displayName
            - lastModifiedBy
            - lastModifiedDateTime
            - isDefault
            - links
            - pagesUrl
            - pages
            - parentNotebook
            - parentSectionGroup
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - pages
            - parentNotebook
            - parentSectionGroup
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.onenote
      summary: Update the navigation property sections in sites
      operationId: sites.onenote.notebooks.UpdateSections
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.onenote
      summary: Delete navigation property sections for sites
      operationId: sites.onenote.notebooks.DeleteSections
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: notebook-id
        in: path
        description: The unique identifier of notebook
        required: true
        schema:
          type: string
        x-ms-docs-key-type: notebook
      - name: onenoteSection-id
        in: path
        description: The unique identifier of onenoteSection
        required: true
        schema:
          type: string
        x-ms-docs-key-type: onenoteSection
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /sites/{site-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/microsoft.graph.copyToNotebook:
    description: Provides operations to call the copyToNotebook method.
    post:
      tags:
      - sites.onenote
      summary: Invoke action copyToNotebook
      description: 'For Copy operations, you follow an asynchronous calling pattern:  First call the Copy action, and then poll the operation endpoint for the result.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/section-copytonotebook?view=graph-rest-1.0
[...]
