openapi: 3.0.4
info:
  title: Microsoft Graph — SharePoint Term Store
  description: SharePoint subset of the Microsoft Graph v1.0 OpenAPI specification (generated from graphexplorer.yaml).
  version: v1.0
  x-ms-generated-by:
    toolName: Microsoft.OpenApi.OData
    toolVersion: 0.0.0.0
servers:
- url: https://graph.microsoft.com/v1.0
security:
- azureOAuth2:
  - TermStore.Read.All
  - TermStore.ReadWrite.All
tags:
- name: sites.store
  x-ms-docs-toc-type: page
paths:
  /sites/{site-id}/termStore:
    description: Provides operations to manage the termStore property of the microsoft.graph.site entity.
    get:
      tags:
      - sites.store
      summary: Get store
      description: Read the properties and relationships of a store object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/termstore-store-get?view=graph-rest-1.0
      operationId: sites.GetTermStore
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - defaultLanguageTag
            - languageTags
            - groups
            - sets
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - groups
            - sets
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.termStore.store'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.store
      summary: Update store
      description: Update the properties of a store object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/termstore-store-update?view=graph-rest-1.0
      operationId: sites.UpdateTermStore
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.termStore.store'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.store
      summary: Delete navigation property termStore for sites
      operationId: sites.DeleteTermStore
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/microsoft.graph.getByPath(path='{path}')/termStore
  /sites/{site-id}/termStore/groups:
    description: Provides operations to manage the groups property of the microsoft.graph.termStore.store entity.
    get:
      tags:
      - sites.store
      summary: List termStore groups
      description: Get a list of group objects in a term store.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/termstore-list-groups?view=graph-rest-1.0
      operationId: sites.termStore.ListGroups
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - id desc
            - createdDateTime
            - createdDateTime desc
            - description
            - description desc
            - displayName
            - displayName desc
            - parentSiteId
            - parentSiteId desc
            - scope
            - scope desc
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - createdDateTime
            - description
            - displayName
            - parentSiteId
            - scope
            - sets
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - sets
            type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.termStore.groupCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - sites.store
      summary: Create termStore group
      description: Create a new group object in a term store.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/termstore-group-post?view=graph-rest-1.0
      operationId: sites.termStore.CreateGroups
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.termStore.group'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.termStore.group'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/termStores/{store-id}/groups
  /sites/{site-id}/termStore/groups/{group-id}:
    description: Provides operations to manage the groups property of the microsoft.graph.termStore.store entity.
    get:
      tags:
      - sites.store
      summary: Get group
      description: Read the properties and relationships of a term store group object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/termstore-group-get?view=graph-rest-1.0
      operationId: sites.termStore.GetGroups
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - createdDateTime
            - description
            - displayName
            - parentSiteId
            - scope
            - sets
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - sets
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.termStore.group'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.store
      summary: Update the navigation property groups in sites
      operationId: sites.termStore.UpdateGroups
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.termStore.group'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.store
      summary: Delete group
      description: Delete a group object in a term [store].
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/termstore-group-delete?view=graph-rest-1.0
      operationId: sites.termStore.DeleteGroups
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}
  /sites/{site-id}/termStore/groups/{group-id}/sets:
    description: Provides operations to manage the sets property of the microsoft.graph.termStore.group entity.
    get:
      tags:
      - sites.store
      summary: List sets
      description: Get a list of the set objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/termstore-group-list-sets?view=graph-rest-1.0
      operationId: sites.termStore.groups.ListSets
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - id desc
            - createdDateTime
            - createdDateTime desc
            - description
            - description desc
            - localizedNames
            - localizedNames desc
            - properties
            - properties desc
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - createdDateTime
            - description
            - localizedNames
            - properties
            - children
            - parentGroup
            - relations
            - terms
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - children
            - parentGroup
            - relations
            - terms
            type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.termStore.setCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - sites.store
      summary: Create new navigation property to sets for sites
      operationId: sites.termStore.groups.CreateSets
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.termStore.set'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.termStore.set'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets
  /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}:
    description: Provides operations to manage the sets property of the microsoft.graph.termStore.group entity.
    get:
      tags:
      - sites.store
      summary: Get sets from sites
      description: All sets under the group in a term [store].
      operationId: sites.termStore.groups.GetSets
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - createdDateTime
            - description
            - localizedNames
            - properties
            - children
            - parentGroup
            - relations
            - terms
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - children
            - parentGroup
            - relations
            - terms
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.termStore.set'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.store
      summary: Update the navigation property sets in sites
      operationId: sites.termStore.groups.UpdateSets
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.termStore.set'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.store
      summary: Delete navigation property sets for sites
      operationId: sites.termStore.groups.DeleteSets
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}
  /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children:
    description: Provides operations to manage the children property of the microsoft.graph.termStore.set entity.
    get:
      tags:
      - sites.store
      summary: Get children from sites
      description: Children terms of set in term [store].
      operationId: sites.termStore.groups.sets.ListChildren
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - id desc
            - createdDateTime
            - createdDateTime desc
            - descriptions
            - descriptions desc
            - labels
            - labels desc
            - lastModifiedDateTime
            - lastModifiedDateTime desc
            - properties
            - properties desc
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - createdDateTime
            - descriptions
            - labels
            - lastModifiedDateTime
            - properties
            - children
            - relations
            - set
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - children
            - relations
            - set
            type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.termStore.termCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - sites.store
      summary: Create new navigation property to children for sites
      operationId: sites.termStore.groups.sets.CreateChildren
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.termStore.term'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.termStore.term'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/termStore/sets/{set-id}/children
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/children
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/children
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/children
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/children
  /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children/{term-id}:
    description: Provides operations to manage the children property of the microsoft.graph.termStore.set entity.
    get:
      tags:
      - sites.store
      summary: Get children from sites
      description: Children terms of set in term [store].
      operationId: sites.termStore.groups.sets.GetChildren
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - createdDateTime
            - descriptions
            - labels
            - lastModifiedDateTime
            - properties
            - children
            - relations
            - set
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - children
            - relations
            - set
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.termStore.term'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.store
      summary: Update the navigation property children in sites
      operationId: sites.termStore.groups.sets.UpdateChildren
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.termStore.term'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.store
      summary: Delete navigation property children for sites
      operationId: sites.termStore.groups.sets.DeleteChildren
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/termStore/sets/{set-id}/children/{term-id}
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/children/{term-id}
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/children/{term-id}
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}
  /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children/{term-id}/children:
    description: Provides operations to manage the children property of the microsoft.graph.termStore.term entity.
    get:
      tags:
      - sites.store
      summary: Get children from sites
      description: Children of current term.
      operationId: sites.termStore.groups.sets.children.ListChildren
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - id desc
            - createdDateTime
            - createdDateTime desc
            - descriptions
            - descriptions desc
            - labels
            - labels desc
            - lastModifiedDateTime
            - lastModifiedDateTime desc
            - properties
            - properties desc
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - createdDateTime
            - descriptions
            - labels
            - lastModifiedDateTime
            - properties
            - children
            - relations
            - set
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - children
            - relations
            - set
            type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.termStore.termCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - sites.store
      summary: Create new navigation property to children for sites
      operationId: sites.termStore.groups.sets.children.CreateChildren
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.termStore.term'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.termStore.term'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/terms/{term-id}/children
    - /sites/{site-id}/termStore/sets/{set-id}/children/{term-id}/children
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/children
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/children
    - /sites/{site-id}/termStore/sets/{set-id}/terms/{term-id}/children
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/children/{term-id}/children
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/terms/{term-id}/children
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/children/{term-id}/children
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/children
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/children
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/terms/{term-id}/children
  /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children/{term-id}/children/{term-id1}:
    description: Provides operations to manage the children property of the microsoft.graph.termStore.term entity.
    get:
      tags:
      - sites.store
      summary: Get children from sites
      description: Children of current term.
      operationId: sites.termStore.groups.sets.children.GetChildren
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: term-id1
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - createdDateTime
            - descriptions
            - labels
            - lastModifiedDateTime
            - properties
            - children
            - relations
            - set
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - children
            - relations
            - set
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.termStore.term'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.store
      summary: Update the navigation property children in sites
      operationId: sites.termStore.groups.sets.children.UpdateChildren
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: term-id1
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.termStore.term'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.store
      summary: Delete navigation property children for sites
      operationId: sites.termStore.groups.sets.children.DeleteChildren
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: term-id1
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}
    - /sites/{site-id}/termStore/sets/{set-id}/children/{term-id}/children/{term-id1}
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/children/{term-id1}
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/children/{term-id1}
    - /sites/{site-id}/termStore/sets/{set-id}/terms/{term-id}/children/{term-id1}
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/children/{term-id}/children/{term-id1}
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/children/{term-id}/children/{term-id1}
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/children/{term-id1}
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/children/{term-id1}
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}
  /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations:
    description: Provides operations to manage the relations property of the microsoft.graph.termStore.term entity.
    get:
      tags:
      - sites.store
      summary: Get relations from sites
      description: To indicate which terms are related to the current term as either pinned or reused.
      operationId: sites.termStore.groups.sets.children.children.ListRelations
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: term-id1
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - id desc
            - relationship
            - relationship desc
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - relationship
            - fromTerm
            - set
            - toTerm
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - fromTerm
            - set
            - toTerm
            type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.termStore.relationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - sites.store
      summary: Create new navigation property to relations for sites
      operationId: sites.termStore.groups.sets.children.children.CreateRelations
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: term-id1
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.termStore.relation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.termStore.relation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children/{term-id}/relations
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/terms/{term-id}/relations
    - /sites/{site-id}/termStore/sets/{set-id}/children/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStore/sets/{set-id}/children/{term-id}/relations
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/relations
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/relations
    - /sites/{site-id}/termStore/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStore/sets/{set-id}/terms/{term-id}/relations
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/children/{term-id}/relations
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/terms/{term-id}/relations
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/children/{term-id}/relations
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/relations
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/relations
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/terms/{term-id}/relations
  /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations/{relation-id}:
    description: Provides operations to manage the relations property of the microsoft.graph.termStore.term entity.
    get:
      tags:
      - sites.store
      summary: Get relations from sites
      description: To indicate which terms are related to the current term as either pinned or reused.
      operationId: sites.termStore.groups.sets.children.children.GetRelations
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: term-id1
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: relation-id
        in: path
        description: The unique identifier of relation
        required: true
        schema:
          type: string
        x-ms-docs-key-type: relation
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - relationship
            - fromTerm
            - set
            - toTerm
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - fromTerm
            - set
            - toTerm
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.termStore.relation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.store
      summary: Update the navigation property relations in sites
      operationId: sites.termStore.groups.sets.children.children.UpdateRelations
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: term-id1
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: relation-id
        in: path
        description: The unique identifier of relation
        required: true
        schema:
          type: string
        x-ms-docs-key-type: relation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.termStore.relation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.store
      summary: Delete navigation property relations for sites
      operationId: sites.termStore.groups.sets.children.children.DeleteRelations
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: term-id1
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: relation-id
        in: path
        description: The unique identifier of relation
        required: true
        schema:
          type: string
        x-ms-docs-key-type: relation
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children/{term-id}/relations/{relation-id}
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations/{relation-id}
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/terms/{term-id}/relations/{relation-id}
    - /sites/{site-id}/termStore/sets/{set-id}/children/{term-id}/children/{term-id1}/relations/{relation-id}
    - /sites/{site-id}/termStore/sets/{set-id}/children/{term-id}/relations/{relation-id}
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/children/{term-id1}/relations/{relation-id}
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/relations/{relation-id}
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/children/{term-id1}/relations/{relation-id}
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/relations/{relation-id}
    - /sites/{site-id}/termStore/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations/{relation-id}
    - /sites/{site-id}/termStore/sets/{set-id}/terms/{term-id}/relations/{relation-id}
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations/{relation-id}
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/children/{term-id}/relations/{relation-id}
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations/{relation-id}
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/terms/{term-id}/relations/{relation-id}
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations/{relation-id}
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/children/{term-id}/relations/{relation-id}
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/children/{term-id1}/relations/{relation-id}
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/relations/{relation-id}
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/children/{term-id1}/relations/{relation-id}
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/relations/{relation-id}
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations/{relation-id}
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/terms/{term-id}/relations/{relation-id}
  ? /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations/{relation-id}/fromTerm
  : description: Provides operations to manage the fromTerm property of the microsoft.graph.termStore.relation entity.
    get:
      tags:
      - sites.store
      summary: Get fromTerm from sites
      description: The from [term] of the relation. The term from which the relationship is defined. A null value would indicate the relation is directly with the [set].
      operationId: sites.termStore.groups.sets.children.children.relations.GetFromTerm
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: term-id1
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: relation-id
        in: path
        description: The unique identifier of relation
        required: true
        schema:
          type: string
        x-ms-docs-key-type: relation
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - createdDateTime
            - descriptions
            - labels
            - lastModifiedDateTime
            - properties
            - children
            - relations
            - set
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - children
            - relations
            - set
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.termStore.term'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children/{term-id}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/terms/{term-id}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStore/sets/{set-id}/children/{term-id}/children/{term-id1}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStore/sets/{set-id}/children/{term-id}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/children/{term-id1}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/children/{term-id1}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStore/sets/{set-id}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStore/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStore/sets/{set-id}/terms/{term-id}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/children/{term-id}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/terms/{term-id}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/children/{term-id}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/children/{term-id1}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/children/{term-id1}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations/{relation-id}/fromTerm
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/terms/{term-id}/relations/{relation-id}/fromTerm
  /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations/{relation-id}/set:
    description: Provides operations to manage the set property of the microsoft.graph.termStore.relation entity.
    get:
      tags:
      - sites.store
      summary: Get set from sites
      description: The [set] in which the relation is relevant.
      operationId: sites.termStore.groups.sets.children.children.relations.GetSet
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: term-id1
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: relation-id
        in: path
        description: The unique identifier of relation
        required: true
        schema:
          type: string
        x-ms-docs-key-type: relation
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - createdDateTime
            - description
            - localizedNames
            - properties
            - children
            - parentGroup
            - relations
            - terms
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - children
            - parentGroup
            - relations
            - terms
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.termStore.set'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children/{term-id}/relations/{relation-id}/set
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/relations/{relation-id}/set
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations/{relation-id}/set
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/terms/{term-id}/relations/{relation-id}/set
    - /sites/{site-id}/termStore/sets/{set-id}/children/{term-id}/children/{term-id1}/relations/{relation-id}/set
    - /sites/{site-id}/termStore/sets/{set-id}/children/{term-id}/relations/{relation-id}/set
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/children/{term-id1}/relations/{relation-id}/set
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/relations/{relation-id}/set
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/relations/{relation-id}/set
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/children/{term-id1}/relations/{relation-id}/set
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/relations/{relation-id}/set
    - /sites/{site-id}/termStore/sets/{set-id}/relations/{relation-id}/set
    - /sites/{site-id}/termStore/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations/{relation-id}/set
    - /sites/{site-id}/termStore/sets/{set-id}/terms/{term-id}/relations/{relation-id}/set
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations/{relation-id}/set
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/children/{term-id}/relations/{relation-id}/set
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/relations/{relation-id}/set
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations/{relation-id}/set
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/terms/{term-id}/relations/{relation-id}/set
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations/{relation-id}/set
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/children/{term-id}/relations/{relation-id}/set
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/children/{term-id1}/relations/{relation-id}/set
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/relations/{relation-id}/set
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/relations/{relation-id}/set
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/children/{term-id1}/relations/{relation-id}/set
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/relations/{relation-id}/set
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/relations/{relation-id}/set
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations/{relation-id}/set
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/terms/{term-id}/relations/{relation-id}/set
  /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations/{relation-id}/toTerm:
    description: Provides operations to manage the toTerm property of the microsoft.graph.termStore.relation entity.
    get:
      tags:
      - sites.store
      summary: Get toTerm from sites
      description: The to [term] of the relation. The term to which the relationship is defined.
      operationId: sites.termStore.groups.sets.children.children.relations.GetToTerm
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: term-id1
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: relation-id
        in: path
        description: The unique identifier of relation
        required: true
        schema:
          type: string
        x-ms-docs-key-type: relation
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - createdDateTime
            - descriptions
            - labels
            - lastModifiedDateTime
            - properties
            - children
            - relations
            - set
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - children
            - relations
            - set
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.termStore.term'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children/{term-id}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/terms/{term-id}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStore/sets/{set-id}/children/{term-id}/children/{term-id1}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStore/sets/{set-id}/children/{term-id}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/children/{term-id1}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/children/{term-id1}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStore/sets/{set-id}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStore/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStore/sets/{set-id}/terms/{term-id}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/children/{term-id}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/terms/{term-id}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/children/{term-id}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/children/{term-id1}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/children/{term-id1}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations/{relation-id}/toTerm
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/terms/{term-id}/relations/{relation-id}/toTerm
  /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - sites.store
      summary: Get the number of the resource
      operationId: sites.termStore.groups.sets.children.children.relations.GetCount-0d34
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: term-id1
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        '200':
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/set:
    description: Provides operations to manage the set property of the microsoft.graph.termStore.term entity.
    get:
      tags:
      - sites.store
      summary: Get set from sites
      description: The [set] in which the term is created.
      operationId: sites.termStore.groups.sets.children.children.GetSet
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: term-id1
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - createdDateTime
            - description
            - localizedNames
            - properties
            - children
            - parentGroup
            - relations
            - terms
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - children
            - parentGroup
            - relations
            - terms
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.termStore.set'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children/{term-id}/set
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/set
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/terms/{term-id}/set
    - /sites/{site-id}/termStore/sets/{set-id}/children/{term-id}/children/{term-id1}/set
    - /sites/{site-id}/termStore/sets/{set-id}/children/{term-id}/set
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/children/{term-id1}/set
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/set
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/children/{term-id1}/set
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/set
    - /sites/{site-id}/termStore/sets/{set-id}/terms/{term-id}/children/{term-id1}/set
    - /sites/{site-id}/termStore/sets/{set-id}/terms/{term-id}/set
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/set
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/children/{term-id}/set
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/set
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/terms/{term-id}/set
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/set
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/children/{term-id}/set
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/children/{term-id1}/set
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/set
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/children/{term-id1}/set
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/set
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/set
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/terms/{term-id}/set
  /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children/{term-id}/children/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - sites.store
      summary: Get the number of the resource
      operationId: sites.termStore.groups.sets.children.children.GetCount-ecf0
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        '200':
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children/{term-id}/relations:
    description: Provides operations to manage the relations property of the microsoft.graph.termStore.term entity.
    get:
      tags:
      - sites.store
      summary: Get relations from sites
      description: To indicate which terms are related to the current term as either pinned or reused.
      operationId: sites.termStore.groups.sets.children.ListRelations
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - id desc
            - relationship
            - relationship desc
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - relationship
            - fromTerm
            - set
            - toTerm
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - fromTerm
            - set
            - toTerm
            type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.termStore.relationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - sites.store
      summary: Create new navigation property to relations for sites
      operationId: sites.termStore.groups.sets.children.CreateRelations
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.termStore.relation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.termStore.relation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/terms/{term-id}/relations
    - /sites/{site-id}/termStore/sets/{set-id}/children/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStore/sets/{set-id}/children/{term-id}/relations
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/relations
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/relations
    - /sites/{site-id}/termStore/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStore/sets/{set-id}/terms/{term-id}/relations
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/children/{term-id}/relations
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/terms/{term-id}/relations
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/children/{term-id}/relations
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/relations
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/relations
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/terms/{term-id}/relations
  /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children/{term-id}/relations/{relation-id}:
    description: Provides operations to manage the relations property of the microsoft.graph.termStore.term entity.
    get:
      tags:
      - sites.store
      summary: Get relations from sites
      description: To indicate which terms are related to the current term as either pinned or reused.
      operationId: sites.termStore.groups.sets.children.GetRelations
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: relation-id
        in: path
        description: The unique identifier of relation
        required: true
        schema:
          type: string
        x-ms-docs-key-type: relation
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - id
            - relationship
            - fromTerm
            - set
            - toTerm
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            enum:
            - '*'
            - fromTerm
            - set
            - toTerm
            type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.termStore.relation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - sites.store
      summary: Update the navigation property relations in sites
      operationId: sites.termStore.groups.sets.children.UpdateRelations
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: relation-id
        in: path
        description: The unique identifier of relation
        required: true
        schema:
          type: string
        x-ms-docs-key-type: relation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.termStore.relation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - sites.store
      summary: Delete navigation property relations for sites
      operationId: sites.termStore.groups.sets.children.DeleteRelations
      parameters:
      - name: site-id
        in: path
        description: The unique identifier of site
        required: true
        schema:
          type: string
        x-ms-docs-key-type: site
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: set-id
        in: path
        description: The unique identifier of set
        required: true
        schema:
          type: string
        x-ms-docs-key-type: set
      - name: term-id
        in: path
        description: The unique identifier of term
        required: true
        schema:
          type: string
        x-ms-docs-key-type: term
      - name: relation-id
        in: path
        description: The unique identifier of relation
        required: true
        schema:
          type: string
        x-ms-docs-key-type: relation
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    x-ms-docs-grouped-path:
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations/{relation-id}
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations/{relation-id}
    - /sites/{site-id}/termStore/groups/{group-id}/sets/{set-id}/terms/{term-id}/relations/{relation-id}
    - /sites/{site-id}/termStore/sets/{set-id}/children/{term-id}/children/{term-id1}/relations/{relation-id}
    - /sites/{site-id}/termStore/sets/{set-id}/children/{term-id}/relations/{relation-id}
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/children/{term-id1}/relations/{relation-id}
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/relations/{relation-id}
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/children/{term-id1}/relations/{relation-id}
    - /sites/{site-id}/termStore/sets/{set-id}/parentGroup/sets/{set-id1}/terms/{term-id}/relations/{relation-id}
    - /sites/{site-id}/termStore/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations/{relation-id}
    - /sites/{site-id}/termStore/sets/{set-id}/terms/{term-id}/relations/{relation-id}
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations/{relation-id}
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/children/{term-id}/relations/{relation-id}
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/terms/{term-id}/children/{term-id1}/relations/{relation-id}
    - /sites/{site-id}/termStores/{store-id}/groups/{group-id}/sets/{set-id}/terms/{term-id}/relations/{relation-id}
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/children/{term-id}/children/{term-id1}/relations/{relation-id}
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/children/{term-id}/relations/{relation-id}
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/children/{term-id1}/relations/{relation-id}
    - /sites/{site-id}/termStores/{store-id}/sets/{set-id}/parentGroup/sets/{set-id1}/children/{term-id}/relations/{relation-id}
[...]
